# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3.SQL
4. Julia
5. Scala

### Exercise 3

## Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

### Objectives:
- **List popular languages for Data Science**
- Understand basic arithmetic expressions in Python
- Convert minutes into hours
- Multiply and add numbers using simple arithmetic
- Explore basic data conversion techniques in Python

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Google Colab        |

### Below are a few examples of evaluating arithmetic expressions in Python.
#### Example 1: Addition
result1 = 5 + 3
print(result1)  # Output: 8

#### Example 2: Subtraction
result2 = 10 - 4
print(result2)  # Output: 6

#### Example 3: Multiplication
result3 = 7 * 2
print(result3)  # Output: 14

#### Example 4: Division
result4 = 20 / 4
print(result4)  # Output: 5.0

#### Example 5: Exponentiation
result5 = 3 ** 2
print(result5)  # Output: 9

#### Example 6: Modulus (Remainder)
result6 = 17 % 3
print(result6)  # Output: 2

### Exercise 8

In [10]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result  # Output: 17

17

### Exercise 9

In [14]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours  # Output: 3.3333... hours

3.3333333333333335

### Exercise 11

## Author
Akansha Shetty